# =========================
# Compiled executables
# =========================
*.exe
*.out
*.o
*.obj
*.dll

# =========================
# Visual Studio Code
# =========================
.vscode/
*.code-workspace

# =========================
# Temporary files
# =========================
*.log
*.tmp
*.bak

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store